<div class="postDetail">
    <h5>新規投稿:</h5>
    <form [formGroup]="form" (ngSubmit)="save()">
        <mat-input-container>
            <input matInput formControlName="title" placeholder="タイトル">
            <mat-error>この項目は必須です</mat-error>
        </mat-input-container><br>
        <mat-input-container>
            <input matInput formControlName="sub_title" placeholder="サブタイトル">
        </mat-input-container><br>
        <mat-input-container>
            <textarea matInput mat-autosize minRows="6" placeholder="投稿内容" formControlName="content"></textarea>
        </mat-input-container>
        <button mat-raised-button type="submit">保存</button>
    </form>
</div>