<div class="posts">
  <p>投稿リストは、GraphQLをクエリして結果を表示するAngularコンポーネントによって構成されます</p>
  <div aria-flowto="<left></left>">
    <h2>投稿リスト</h2>
    <button class="addBtn" mat-fab [routerLink]="['/posts/new']"> <mat-icon>追加</mat-icon></button>
    <br>
  </div>
  <mat-input-container>
    <input matInput type="search" [(ngModel)]='listPostFilter' [formControl]="postControl" placeholder="検索...">
  </mat-input-container>
  <mat-card *ngFor="let post of posts | async | myPostsFilter:listPostFilter">
    <mat-list>
      <mat-list-item>
        <a mat-line [routerLink]="['/posts/post-detail', post.id]"> {{post.title}} </a>
        <a mat-line > {{post.sub_title}} </a>
        <p mat-line>
          <span>{{post.content}}</span>
        </p>
        <span><button mat-button (click)='deletePost(post.id)'><mat-icon>削除</mat-icon></button></span>
        <span><button mat-button [routerLink]="['/posts/edit', post.id]"><mat-icon>修正</mat-icon></button></span>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
