<div id="home">
  <div id="daphne">
    <img src="../../assets/img/daphne.png">
  </div>
  <mat-card>
    <p>MEANスタックは最新かつ最高のツールを使用して最新のJavaScriptのフルスタックアプリケーション提供します<p>
    <p> 使っているツール </p>
    <mat-grid-list cols="5">
      <mat-grid-tile>Angular4</mat-grid-tile>
      <mat-grid-tile>GraphQL</mat-grid-tile>
      <mat-grid-tile>Node</mat-grid-tile>
      <mat-grid-tile>Express</mat-grid-tile>
      <mat-grid-tile><a href="/react">react</a></mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>